doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title OTP verification !!!
    body(style="background-color: #fff6f6;max-width: 450px;margin: 25px auto;")

        header(style= "background-color:#6c6cff;color:#ffffff;padding:15px 15px")
            h1 sbrrath verification code

        div(style="margin:10px 10px") 
            p Hi there!
            p We hope you're having a great day. We just wanted to let you know that in order to complete your registration on the sbrrath platform, you'll need to enter the following one-time password (OTP):
            p <b>Hurry !! It's only valid for 5 minutes</b>
            h2 OTP :- <b> #{OTP} </b>
            p All you have to do is enter this OTP in the designated field on the registration page and you'll be all set! We're so excited to have you join the sbrrath community. 
            p Thanks for choosing us.

        footer(style= "background-color:#6c6cff;color:#ffffff;padding:15px 10px")
            p(style="margin: 0;padding: 0;") Best Regards,
            p(style="margin: 0;padding: 0;") sbrrath community
